nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
    gap: 20px;

}
input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 15px;
    margin-right: 100px;
    font-size: 25px;
    background-color: aquamarine;
  }


.container{
  background-color:cornsilk;
}
.Payment{
  background-color: whitesmoke
  ;
  
}
.help{
  background-color: whitesmoke;
  
}

.setting{
  background-color:whitesmoke;
}
.Earn{
  background-color:whitesmoke;
}
.Manage{
  background-color:whitesmoke;

}
.wishlist{
  background-color:whitesmoke;

}